<div class="footer">
    <div class="mid-footer">
        <div class="part1">
            <h4>About</h4>
            <a href="contactus.html">Contact Us</a><br/>
            <a href="aboutus.html">About Us</a><br />
            <a href="careers.html">Careers</a><br />
            <a href="retailers.html">Sell on Us</a>
        </div>
        <div class="part1">
            <h4>Help</h4>
            <a href="payments.html">Payments</a><br/>
            <a href="shipping.html">Shipping</a><br />
            <a href="faq.html">FAQ</a>
        </div>
        <div class="part1">
            <h4>Policy</h4>
            <a href="returns.html">Return Policy</a><br/>
            <a href="terms.html">Terms of Use</a><br />
            <a href="security.html">Security</a>
        </div>
        <div class="part1" style="border-right: 2px bisque solid;">
            <h4>Social</h4>
            <a href="https://www.twitter.com">Twitter</a><br/>
            <a href="www.facebook.com">Facebook</a><br />
            <a href="www.youtube.com">Youtube</a>
        </div>
        <div class="part2">
            <h4>Mail Us</h4>
            <p>Shopping.com private limited,<br />
                Vasant Towers,
                Vikrant Khant-3,<br />
                Gomti Nagar
                Lucknow,226007,<br />
                Uttar Pradesh, India<br />
            </p>
        </div>
        <div class="part2">
            <h4>Registered Office</h4>
            <p>Shopping.com private limited,<br />
                Vasant Towers,
                Vikrant Khant-3,<br />
                Gomti Nagar
                Lucknow,226007,<br />
                Uttar Pradesh, India<br />
                CIN : U5110142012PTCHGFRADA07<br />
                Telephone: 1800 258 9888
            </p>
        </div>
    </div>
    <div class="last-footer">
        <h4><p>© 2020-2021 shopping.com</p></h4>
    </div>
    
</div>