<!--<h3 id="message" style="color: #FFCE2B;">Welcome back, {{ userName }}</h3>-->
<!--https://cdn.pixabay.com/photo/2015/04/20/13/36/objects-731426_960_720.jpg-->
<!--https://cdn.pixabay.com/photo/2015/11/07/11/46/fashion-1031469_960_720.jpg-->
<!--https://cdn.pixabay.com/photo/2013/11/14/12/34/neckties-210347_960_720.jpg-->
<!--https://cdn.pixabay.com/photo/2014/07/27/17/29/ironing-403074_960_720.jpg-->
<div class="show-container">
    <a id="prev" class="prev" (click)="prev()">&#10094;</a>
    <img id="images" src={{currentImage}}>
    <a id="next" class="next" (click)="next()">&#10095;</a>
</div>
<div class="top-products">
    <h1>Top Products</h1>
    <div>
        <img src="./assets/img/img1.jpg">
        <h3>One Plus Nord 1</h3>
    </div>
    <div>
        <img src="./assets/img/img2.jpeg">
        <h3>One Plus Nord 2</h3>
    </div>
    <div>
        <img src="./assets/img/img3.jpg">
        <h3>One Plus Nord 3</h3>
    </div>
    <div>
        <img src="./assets/img/img4.jpg">
        <h3>One Plus Nord 4</h3>
    </div>
</div>

<!--<button type="submit" class="button" (click)="logout()">Logout</button>-->
