<!--<h3 id="message" style="color: #FFCE2B;">Welcome back, {{ userName }}</h3>-->
<!--https://cdn.pixabay.com/photo/2015/04/20/13/36/objects-731426_960_720.jpg-->
<!--https://cdn.pixabay.com/photo/2015/11/07/11/46/fashion-1031469_960_720.jpg-->
<!--https://cdn.pixabay.com/photo/2013/11/14/12/34/neckties-210347_960_720.jpg-->
<!--https://cdn.pixabay.com/photo/2014/07/27/17/29/ironing-403074_960_720.jpg-->
<div class="show-container fade">
    <a id="prev" class="prev" (click)="prev()">&#10094;</a>
    <img id="images" src={{currentImage}}>
    <a id="next" class="next" (click)="next()">&#10095;</a>
</div>
<div class="top-products">
    <h1>Welcome To Shopping.Com Browse for products like...</h1>
    <div>
        <img src="./assets/img/ss1.webp">
        <h3>Footwear</h3>
    </div>
    <div>
        <img src="./assets/img/ww1.webp">
        <h3>Watches</h3>
    </div>
    <div>
        <img src="./assets/img/ee1.webp">
        <h3>Earphones</h3>
    </div>
    <div>
        <img src="./assets/img/pp1.webp">
        <h3>Perfumes</h3>
    </div>
</div>

<!--<button type="submit" class="button" (click)="logout()">Logout</button>-->
