<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=PT+Sans&display=swap" rel="stylesheet">

    <form name = "f1" (ngSubmit)="addRetailer()">  
        <div class="container"> 
            <h2>Hey Retailer!Welcome to<br/>
                new business destination</h2>
            <h2>Register Now!</h2>
            <label>Name : </label><br/>  
            <input id="name" name="name" class="form-control" required minlength="4" #name="ngModel" type="text" placeholder="Enter your name" name="name" [(ngModel)]="retailer.name" required><br/>

            <div *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert alert-danger">
            <div *ngIf="name.errors.required">
                <span style="color:red">
                Name is required.
                </span>
            </div>
            <div *ngIf="name.errors.minlength">
                <span style="color:red">
                Name must be at least 4 characters long.
                </span>
            </div>
            </div>
            <label>Contact Number : </label><br/>  
            <input id="number" name="name" class="form-control" required minlength="10" #number="ngModel" type="text" placeholder="Enter your contact number" name="number" [(ngModel)]="retailer.contactNumber" required><br/>
            <div *ngIf="number.invalid && (number.dirty || number.touched)"
            class="alert alert-danger">
            <div *ngIf="number.errors.required">
                <span style="color:red">
                Contact Number is required.
                </span>
            </div>
            <div *ngIf="number.errors.minlength">
                <span style="color:red">
                Contact Number must be 10 characters long.
                </span>
            </div>
            </div> 
            <label>Email : </label><br/>  
            <input id="email" name="email" class="form-control" #email="ngModel" type="email" placeholder="Enter Email" name="email" [(ngModel)]="retailer.email" required><br/>
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger">
            <div *ngIf="email.errors.required">
                <span style="color:red">
                Email is required.
                </span>
            </div>
            </div>
            <label>Password : </label><br/> 
            <input id="password" name="password" class="form-control" type="password" #password="ngModel" placeholder="Enter your password" name="password" [(ngModel)]="retailer.pwd" required><br/>
            <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">
            <div *ngIf="password.errors.required">
                <span style="color:red">
                Password is required.
                </span>
            </div>
            <div *ngIf="password.errors.minlength">
                <span style="color:red">
                Password must be at least 4 characters long.
                </span>
            </div>
            </div>
            <label> Confirm Password : </label><br/>  
            <input id="password" name="password" class="form-control" #password="ngModel" type="password" placeholder="Enter your password" name="password" [(ngModel)]="retailer.password" required><br/>
            <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">
            <div *ngIf="password.errors.required">
                <span style="color:red">
                Password is required.
                </span>
            </div>
            <div *ngIf="password.errors.minlength">
                <span style="color:red">
                Password must be at least 4 characters long.
                </span>
            </div>
            </div>
            <button type="submit">Register</button><br/>  
            <input type="checkbox" checked="checked"> Remember me<br/>
            <button type="button" class="newuserbtn"> Existing User? <a [routerLink]="'/app-login'">Login Now!</a></button><br/>  
        </div>   
    </form>     