<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=PT+Sans&display=swap" rel="stylesheet">
    <form>
        <div class="container"> 
            <h2>Register Now!</h2>
            <label>Name : </label><br/>  
            <input type="text" placeholder="Enter your name" name="name" required><br/> 
            <label>Contact Number : </label><br/>  
            <input type="text" placeholder="Enter your contact number" name="number" required><br/>   
            <label>Email : </label><br/>  
            <input type="text" placeholder="Enter Email" name="email" required><br/> 
            <label>Password : </label><br/>  
            <input type="password" placeholder="Enter your password" name="password" required><br/> 
            <label> Confirm Password : </label><br/>  
            <input type="password" placeholder="Enter your password" name="password" required><br/> 
            <button type="submit">Register</button><br/>  
            <input type="checkbox" checked="checked"> Remember me<br/>
            <button type="button" class="newuserbtn"> Existing User? <a [routerLink]="'/app-login'">Login Now!</a></button><br/>  
        </div>   
    </form>     