    <form (ngSubmit)="loginuser()">  
        <div class="container">
            <h2>User Login Here</h2> 
            <label>Email : </label><br/>  
            <input id="email" name="email" class="form-control" #email="ngModel" type="text" placeholder="Enter Email" name="email" [(ngModel)]="login.email" required><br/> 
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger">
            <div *ngIf="email.errors.required" style="color: red;">
                Email is required.
            </div>
            </div>
            <label>Password : </label><br/>  
            <input id="password" name="password" class="form-control" #password="ngModel" type="password" placeholder="Enter Password" name="password" [(ngModel)]="login.password" required><br/>
            <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">
            <div *ngIf="password.errors.required" style="color: red;">
                Password is required.
            </div>
            <div *ngIf="password.errors.minlength" style="color: red;">
                Password must be at least 4 characters long.
            </div>
            </div>  
            <button type="submit"> <a [routerLink]="'/app-homepage'" >Login</a></button><br/>  
            <input type="checkbox" checked="checked"> Remember me<br/>
            <button type="button" class="newuserbtn"> New User?<a [routerLink]="'/app-user-registration'">Register Now!</a></button><br/>  
            Forgot <a href="#"> password? </a>   
        </div>   
    </form>    
    



