#comparebutton{
    margin-top: 10px;
    padding-left: 30%;    
}

#addbutton{
    position: relative;
    width: 50%;
    border: none;
    color: black;
    font-size: 16px;
    padding: 10px 24px;
    padding-left: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: orange;
}

.comparing{
    width: 80%;
    margin-left: 8%;
    padding-bottom: 80px;
}

/*.compareproductpic{
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}
.compareproductpic img{
    width: 15%;
    height: 200px;
    float: left;
}*/

.compareproductpicdesc{
    
    text-align: justify; 
    font-size: 25px; 
}

.compareproductpicdesc table{
    font-family: 'PT Sans', sans-serif;
    border: solid;
    width: 80%;
}

/*#compareproducts{
    visibility: hidden;
}*/

td{
    height: 10%;
    width: 20%;
}



.footer{
    background-color: lightgray;
    font-family: fantasy;
    padding: 25px;
    text-align: center;
}

#compareTable{
    top : -8px ;
    border-collapse: collapse;
      width: 100%;
      
    }
    
#compareTable td, #tt th{
    border: 1px solid black;
      padding: 8px;
    }
    
#compareTable td{
    text-align: center;
    }
    
#compareTable tr:nth-child(even){background-color: #f2f2f2;}

#compareTable tr:hover {background-color: #ddd;}

#compareTable th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #FFCE2B;
      color: black;
      border: 1px solid black;
}