<script>
    function show(){
        document.getElementById("compareproducts").style.visibility="visible";
    }
</script>

<div id="comparebutton">
    <button id = "addbutton" type="button" onclick="compareProductDetails()">Add Product For Comparison</button>
</div>
<div id="compareproducts">
    <div class="comparing">
        <div class="compareproductpic">
            <img id="imgs" src="cart.png">
        </div>
        <div class="compareproductpicdesc">
            <table>
                <th>Name</th><th>Brand Name</th><th>Model</th><th>Description</th><th>Price</th>
                <tr *ngFor="let pro1 of compareProduct1">
                    <td>{{ pro1.name }}</td>
                    <td>{{ pro1.brandName }}</td>
                    <td>{{ pro1.model }}</td>
                    <td>{{ pro1.description }}</td>
                    <td>{{ pro1.price }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="comparing">
        <div class="compareproductpic">
            <img id="imgs" src="magnifying.jpg">
        </div>
        <div class="compareproductpicdesc">
            <table>
                <th>Name</th><th>Brand Name</th><th>Model</th><th>Description</th><th>Price</th>
                <tr *ngFor="let pro2 of compareProduct2">
                    <td>{{ pro2.name }}</td>
                    <td>{{ pro2.brandName }}</td>
                    <td>{{ pro2.model }}</td>
                    <td>{{ pro2.description }}</td>
                    <td>{{ pro2.price }}</td>
                </tr>
            </table>
        </div>
    </div> 
    <!--<div class="comparing">
        <div class="compareproductpic">
            <img id="imgs" src="download1.jpg">
        </div>
        <div class="compareproductpicdesc">
            <table>
                <th>Name</th><th>Brand Name</th><th>Model</th><th>Description</th><th>Price</th>
                <tr *ngFor="let pro3 of compareProduct3">
                    <td>{{ pro3.name }}</td>
                    <td>{{ pro3.brandName }}</td>
                    <td>{{ pro3.model }}</td>
                    <td>{{ pro3.description }}</td>
                    <td>{{ pro3.price }}</td>
                </tr>
            </table>
        </div>
    </div> 
    <div class="comparing">
        <div class="compareproductpic">
            <img id="imgs" src="download1.jpg">
        </div>
        <div class="compareproductpicdesc">
            <table>
                <th>Name</th><th>Brand Name</th><th>Model</th><th>Description</th><th>Price</th>
                <tr *ngFor="let pro4 of compareProduct4">
                    <td>{{ pro4.name }}</td>
                    <td>{{ pro4.brandName }}</td>
                    <td>{{ pro4.model }}</td>
                    <td>{{ pro4.description }}</td>
                    <td>{{ pro4.price }}</td>
                </tr>
            </table>
        </div>
    </div> --> 
</div>

