<script>
    function show(){
        document.getElementById("compareproducts").style.visibility="visible";
    }
</script>

<div id="comparebutton">
    <button id = "addbutton" type="button" onclick="show()">Add Product For Comparison</button>
</div>
<div id="compareproducts">
    <div class="comparing">
        <div class="compareproductpic">
            <img id="imgs" src="download.jpg">
        </div>
        <div class="compareproductpicdesc">
            <p>It's been a few days since OnePlus officially launched the Nord, and it's time to take a 
                closer look at how it fits into today's mid-tier smartphone segment. The OnePlus Nord 
                starts at Rs. 24,999 for the 64GB Amazon-exclusive variant, but this is only going on 
                sale in September. If you don't want to wait, you have the option of the higher-priced 
                variants which will be available starting from August 4. The good news is that even the 
                top-end variant doesn't breach Rs. 30,000, and this is the one we'll be testing today.
            </p>
        </div>
    </div>
    <div class="comparing">
        <div class="compareproductpic">
            <img id="imgs" src="download1.jpg">
        </div>
        <div class="compareproductpicdesc">
            <p>The OnePlus Nord is a new budget offering from OnePlus, which manages 
                to deliver a similar Android experience as the OnePlus 8, but at a more affordable price. 
                OnePlus has kept all the staples such as the AMOLED display, Warp Charge fast charging, and a 
                big battery in the Nord. However, it has made some cuts when it comes to the SoC and the 
                build quality. The OnePlus Nord still has glass on the back, but instead of a metal frame, 
                it's plastic.
            </p>
        </div>
    </div>    
</div>

