<h2>Welcome Retailer!</h2>
<div class="table">
    <span>   
        <table>
            <tr>
                <th>RetailerId:</th>
                <td>{{ result.retailerId }}</td>
            </tr>
            <tr>
                <th>Name:</th>
                <td>{{ result.name }}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{ result.email }}</td>
                </tr>
            <tr>
                <tr>
                    <th>Contact Number:</th>
                    <td>{{ result.contactNumber }}</td>
                    </tr>
                <tr>
                    <tr>
                        <th>Password:</th>
                        <td>{{ result.password }}</td>
                    </tr>
                <tr>
            
            </table>

    </span>
</div>
