<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=PT+Sans&display=swap" rel="stylesheet">

    <form (ngSubmit)="loginRetailer()" name = "f1" onsubmit="return matchpass()">  
        <div class="container">
            <h2>Retailer Login Here</h2> 
            <label>Email : </label><br/>  
            <input id="email" name="email" class="form-control" #email="ngModel" type="email" placeholder="Enter Email" name="email" [(ngModel)]="retailerLogin.email" required><br/> 
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger">
            <div *ngIf="email.errors.required">
                <span style="color:red">
                Email is required.
                </span>
            </div>
            </div>
            <label>Password : </label><br/>  
            <input id="password" name="password" class="form-control" #password="ngModel" type="password" placeholder="Enter Password" name="password" [(ngModel)]="retailerLogin.password" required><br/>
            <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">
            <div *ngIf="password.errors.required">
                <span style="color:red">
                Password is required.
                </span>
            </div>
            <div *ngIf="password.errors.minlength">
                Password must be at least 4 characters long.
            </div>
            </div>  
            <button type="submit"> <a (click)="loginRetailer()" >Login</a></button><br/>  
            <input type="checkbox" checked="checked"> Remember me<br/>
            <button type="button" class="newuserbtn"> New Retailer?<a [routerLink]="'/app-register'">Register Now!</a></button><br/>  
            Forgot <a href="#"> password? </a>   
        </div>   
    </form>    
    



