<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=PT+Sans&display=swap" rel="stylesheet">
<script type="text/javascript">  
    function matchpass(){  
    var firstpassword=document.f1.password.value;  
    var secondpassword=document.f1.password2.value;  
      
    if(firstpassword==secondpassword){  
    return true;  
    }  
    else{  
    alert("password must be same!");  
    return false;  
    }  
    }  
</script>  
    <form (ngSubmit)="loginRetailer()" name = "f1" onsubmit="return matchpass()">  
        <div class="container">
            <h2>Retailer Login Here</h2> 
            <label>Email : </label><br/>  
            <input type="text" placeholder="Enter Email" name="email" [(ngModel)]="retailerLogin.email" required><br/> 
            <label>Password : </label><br/>  
            <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="retailerLogin.password" required><br/>  
            <button type="submit"> <a [routerLink]="'/app-retailerdashboard'" >Login</a></button><br/>  
            <input type="checkbox" checked="checked"> Remember me<br/>
            <button type="button" class="newuserbtn"> New Retailer?<a [routerLink]="'/app-register'">Register Now!</a></button><br/>  
            Forgot <a href="#"> password? </a>   
        </div>   
    </form>    
    



