
    <form (ngSubmit)="register()">
        <div class="container"> 
            <h2>Register Now!</h2>
            <label>Name : </label><br/>  
            <input type="text" placeholder="Enter your name" name="name" required  [(ngModel)]="user.name"><br/> 
            <label>Contact Number : </label><br/>  
            <input type="text" placeholder="Enter your contact number" name="number" required  [(ngModel)]="user.contactNumber"><br/>   
            <label>Email : </label><br/>  
            <input type="text" placeholder="Enter Email" name="email" required [(ngModel)]="user.email"><br/> 
            <label>Password : </label><br/>  
            <input type="password" placeholder="Enter your password" name="password" required  [(ngModel)]="user.password"><br/> 
          <!-- <label> Confirm Password : </label><br/>  
            <input type="password" placeholder="Enter your password" name="password" required><br/> -->
            <button type="submit">Register</button><br/>  
            <input type="checkbox" checked="checked"> Remember me<br/>
            <button type="button" class="newuserbtn"> Existing User? <a [routerLink]="'/app-user-login'">Login Now!</a></button><br/>  
        </div>   
    </form>     