<div class="mid-tab">
    <div class="col1">
        <h1 style="text-align: center;">Cart Items</h1>
        <span *ngIf="data.status=='SUCCESS'; else notPresent">
            <span *ngFor="let item of result">
                <div class="mid-tab">
                    <div class="part-img">
                        <img src="./assets/img/img2.jpeg">
                    </div>
                    <div class="part-name">
                        <h3>{{item.name}}</h3>
                    </div>
                    <div class="part-price">
                        <h3>{{item.price}}</h3>
                    </div>
                    <div class="part-quantity">
                        <div style="width: 30%;float: left;">
                            <button id="minus" type="button" (click)="decreaseQuantity(item.productId,item.price)">-</button>
                        </div>
                        <h3 id="quantity">{{map.get(item.productId)}}</h3>
                        <div style="width: 30%;float: left;">
                            <button id="plus" type="button" (click)="increaseQuantity(item.productId,item.price)">+</button>
                        </div>
                    </div>
                </div>
            </span>
        </span>
        <div class="mid-tab">
            <div class="cart1">
                <button type="submit" [routerLink]="['/']">Continue Shopping</button>
            </div>
            <div class="cart1">
                <button type="submit" (click)="placeOrder()" [router]="['app-payment']">Place Order</button>
            </div>
        </div>
    </div>
    <div class="col2">
        <h1 style="text-align: center;">Cart Amount</h1>
        <div class="mid-tab">
            <div class="cart">
                <h3>Total Cart Amount </h3>
            </div>
            <div class="cart">
                <h3>{{totalPrice}}</h3>
            </div>
        </div>
    </div>

</div>
<ng-template #notPresent>
    <h2 style="text-align: center;">Sorry!! Nothing in the cart. Please do some shopping</h2>
    <img style="align-content: center; width: 50%;height: 50%;margin-left: 25%;" src="assets/img/sad-emoji.png" >
</ng-template>


