<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=PT+Sans&display=swap" rel="stylesheet">
<div class="container">

</div>

<div class="row">
  <div class="column left">
      <button class= "button" onclick="document.location='Retailer-Detail.html'">Retailer Details</button>
      <button class="button"> <a [routerLink]="'/app-addproducts'">My Orders</a></button>
      <button class="button" onclick="document.location='forget.html'" >Change Password</button> 
      <button class="button" onclick="document.location='delete.html'" >Delete Password</button> 
  </div>
</div>

<div>
  
</div>
 
      

