<div class="topnav">
    <a href="homepage.html">Home</a>
    <a href="product-description page.html">Products</a>
    <a href="category-homepage.html">Compare</a>
    <a href="cart-page.html">Cart</a>
    <a href="User_profile.html">Username</a>
</div>

<div class="sidenav">
    <a href="Retailer-Details.html">Retailer Details</a>
    <a [routerLink]="'/app-addproducts'">Add Products</a>
    <a href="forget.html">Forgot Password</a>
    <a href="Delete.html">Delete Account</a>
  </div>
  
  <div class="main">
    <h2>Welcome to Shopping.com!</h2>
    <p>Hope you love selling your products with us.</p>
    <p>Hope you have an amazing experience with us.</p>
  </div>
