<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=PT+Sans&display=swap" rel="stylesheet">

<div class="row">
  <div class="column left">
      <button class= "button"[routerLink]="'/app-retailerdetails'" >Retailer Details</button>
      <button class="button" [routerLink]="'/app-addproducts'">Add Products</button>
      <button class="button" [routerLink]="'/app-deleteprofile'">Delete Account</button> 
      <button type="submit" class="button" (click)="logout()">Logout</button>
  </div>
</div>

 <div class="card">
  <h3>
   ThankYou! for doing your business with us. Hope you have an amazing experience working with us.
 </h3>
  <h3>
   We believe in providing the best of what we can give to our customers as well as to the ones doing business with us.
  </h3>
  </div>

 
      

