  /* .container{
    background-image: url('background_retailerdashboard');
  } */
  
  button {   
    font-family: 'Baloo Tamma 2', cursive;
    background-color:  #FFCE2B;   
    width: 300px;  
     color: black;   
     padding: 15px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer;   
     display: block;
   }   

   button:hover{
    opacity: 0.7; 
   }

   .card {
    background-color: white;
    /* padding: 40px; */
    margin-top: 40px;
    overflow: hidden;
    position: relative;
    left: 350px;
    bottom: 200px;
    margin-right: 100px;
    font-family: 'Baloo Tamma 2', cursive;
    
  }
  
