#adminprofile
{
width: 100%;
 height: 50px;
  position : relative ;
  background-color :#FFCE2B ;
  
  text-align: center;
  display: inline-block;
  font-size: 25px;
}

#adminpara
{
position : relative ;
top : -8px ;
font-family: 'PT Sans', sans-serif;
}

#buttons{
    padding-left: 170px;
}

.bts
{
background-color: teal;
  border: none;
  color: #302f2e;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  font-family: 'PT Sans', sans-serif;
  padding-left: 50px;
  margin: 25px;
}

#details{
    top : -10px ;
    border-collapse: collapse;
      width: 100%;
    }
    
#details td, #tt th{
    border: 1px solid #ddd;
      padding: 8px;
    }
    
#details td{
    text-align: center;
    }
    
#details tr:nth-child(even){background-color: #f2f2f2;}

#details tr:hover {background-color: #ddd;}

#details th {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: #FFCE2B;
      color: black;
      border: 1px solid #ddd;
}