<div id="adminprofile">
    <p id="adminpara"> Admin Dashboard </p>
</div>


    <div id="buttons" style="width:80%">
        <button class="bts" (click)="showProduct()"> Show Products </button>
        <button class="bts" (click)="showRetailers()"> Show Retailers </button>
        <button class="bts" (click)="showProductCategories()"> Show Categories </button>
    </div>
    <span *ngIf="productFlag">
        <div class="table">
            <table id="details">
                <th>Product Id</th><th>Product Name</th><th>Model</th><th>Brand Name</th><th>Price</th>
                    <tr *ngFor="let item of productList">
                        <td>{{item.productId}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.model}}</td>
                        <td>{{item.brandName}}</td>
                        <td>{{item.price}}</td>
                    </tr>
                </table>
        </div>
    </span>

    <span *ngIf="retailerFlag">
        <div class="table">
            <table id="details">
                <th>Retailer Id</th><th>Retailer Name</th><th>Email</th><th>contactName</th>
                    <tr *ngFor="let item of retailerList">
                        <td>{{item.retailerId}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.contactNumber}}</td>
                    </tr>
            </table>
        </div>
    </span>

    <span *ngIf="categoryFlag">
        <div class="table">
            <table id="details">
                <th>Category Id</th><th>Category Name</th>
                    <tr *ngFor="let item of categoryList">
                        <td>{{item.categoryId}}</td>
                        <td>{{item.categoryName}}</td>
                    </tr>
            </table>
        </div>
    </span>