.bts
  {
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight : bold ;
    position: relative;
    float : left ;
    left : 400px ;
    top : 470px ;
    font-family: 'PT Sans', sans-serif;
  }