<div class="topnav">
    <div>
        <a href="homepage.html">Home</a>
    </div>
    <div>
        <a href="product-description page.html">Products</a>
        <div class="dropdown">
            <a href="#">Product1</a><br />
            <a href="#">Product2</a><br />
            <a href="#">Product3</a>
        </div>
    </div>
    <div>
        <a href="category-homepage.html">Compare</a>
    </div>
    <div>
        <a href="cart-page.html">Cart</a>
    </div>
    <div>
        <a routerLink="/app-register">Username</a>
    </div>
</div>