<div class="topnav">
    <div>
        <a >Brands</a>
        <div class="dropdown" *ngFor="let brand of brandsData">
            <a (click)="fetchByBrand(brand)" >{{brand}}</a><br />
        </div>
    </div>
    <div>
        <a >Products</a>
        <div class="dropdown">
            <a  (click)="seeproduct(23)">Product1</a><br />
            <a  (click)="seeproduct(24)">Product2</a><br />
            <a  (click)="seeproduct(25)">Product3</a>
        </div>
    </div>
    <div>
        <a >Categories</a>
        <div class="dropdown" *ngFor="let cat of categoryData">
            <a (click)="fetchProduct(cat)" >{{cat}}</a><br />
        </div>
    </div>
    <div>
        <a routerLink="/app-register">Retailer Registration</a>
    </div>
    <div>
        <a routerLink="/app-user-registration" *ngIf="userName==null">Register/Login</a>
        
            <a *ngIf="userName!=null">{{userName}}</a>
            <div class="dropdown" *ngIf="userName!=null">
                <a routerLink="/app-cart" >View Cart</a><br />
                <a routerLink="/app-view-orders" >View Orders</a><br />
                <a  (click)="logout()">Logout</a>
            </div>
        
    </div>
</div>