.topnav{
    /*background-color: #FFCE2B;*/
    margin-bottom: 5px;
}

.topnav::after{
    content: "";
    display: table;
    clear: both;
}

.topnav div{
    background-color: #FFCE2B;
    float: left;
    width: 20%;
    text-align: center;
}
.topnav div a{
    color: #302f2e;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 25px;
    text-decoration: none;
    
}
.topnav div a:hover{
    color: deeppink;
}

.dropdown{
    display: none;
    background-color: #f1f1f1;
    /*background-color: #FFCE2B;*/
    /*min-width: 100%;*/
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     /*overflow: hidden;*/
     z-index: 10;
     position: absolute;
}
.dropdown a{
    color: black;
}
.dropdown a:hover{
    color: blue;
}
.topnav div:hover .dropdown{
    display: block; 
}
a:hover{
    cursor: pointer;
}