<div class="topnav">
    <div>
        <a routerLink="/app-homepage">Home</a>
    </div>
    <div>
        <a href="product-description page.html">Products</a>
        <div class="dropdown">
            <a  (click)="seeproduct(23)">Product1</a><br />
            <a  (click)="seeproduct(24)">Product2</a><br />
            <a  (click)="seeproduct(25)">Product3</a>
        </div>
    </div>
    <div>
        <a routerLink="/app-compare">Compare</a>
    </div>
    <div>
        <a routerLink="/app-register">Retailer Registration</a>
    </div>
    <div>
        <a routerLink="/app-user-registration">Register/Login</a>
    </div>
</div>