<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=PT+Sans&display=swap" rel="stylesheet">
<form (ngSubmit)="upload()" enctype="multipart/form-data"> 
    <div class="container"> 
        <h2>Add Product Here!</h2>
        <label>Product Name: </label><br/>  
        <input type="text" placeholder="Enter product name" name="name" [(ngModel)]="addProduct.name" required><br/> 
        <label>Brand Name : </label><br/>  
        <input type="text" placeholder="Enter brand name" name="name" [(ngModel)]="addProduct.brandName" required><br/>   
        <label>Product Price : </label><br/>  
        <input type="text" placeholder="Enter product price" name="price" [(ngModel)]="addProduct.price" required><br/> 
        <label>Model: </label><br/>  
        <input type="text" placeholder="Enter product model" name="model" [(ngModel)]="addProduct.model" required><br/> 
        <label>Quantity : </label><br/>  
        <input type="number" placeholder="Enter product quantity" name="quantity" [(ngModel)]="addProduct.quantity" required><br/>

        <label>Product Image : </label><br/><br/>
        <input type="file" name="image" (change)="onFileChange($event)" /><br/><br/>
       
        <label>Category : </label>
        <select [(ngModel)]="addProduct.categoryName" name="category">
            <option *ngFor= "let d of data" value="{{d}}">{{d}}</option><br/>
        </select><br/><br/>
        
        <label>Product Description</label><br/>
        <input type="text" style="width: 500px; height: 100px;" placeholder="Enter product description" name="description" [(ngModel)]="addProduct.model" required><br/> 
        <button type="submit">Add Product</button><br/>  
        
    </div>   
</form>     

    