<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=PT+Sans&display=swap" rel="stylesheet">
<form>
    <div class="container"> 
        <h2>Add Product Here!</h2>
        <label>Product Name: </label><br/>  
        <input type="text" placeholder="Enter product name" name="name" required><br/> 
        <label>Brand Name : </label><br/>  
        <input type="text" placeholder="Enter brand name" name="name" required><br/>   
        <label>Product Price : </label><br/>  
        <input type="text" placeholder="Enter product price" name="price" required><br/> 
        <label>Model: </label><br/>  
        <input type="text" placeholder="Enter product model" name="model" required><br/> 
        <label>Quantity : </label><br/>  
        <input type="text" placeholder="Enter product quantity" name="quantity" required><br/>
        <label>Category : </label>
        <select>
            <option value="Category">Category</option>
            <option value="Clothing">Clothing</option>
            <option value="Footwear">Footwear</option>
            <option value="Appliances">Appliances</option>
            <option value="Grocery">Grocery</option>
            <option value="Home">Home</option>
            <option value="Sports">Sports</option>
        </select><br/>
        <label>Product Description</label><br/>
        <textarea cols="80" rows="5" value="productDescription"></textarea><br/>
        <button type="submit">Add Product</button><br/>  
        
    </div>   
</form>     

    