<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=PT+Sans&display=swap" rel="stylesheet">
<form (ngSubmit)="upload()" enctype="multipart/form-data"> 
    <div class="container"> 
        <h2>Add Product Here!</h2>
        <label>Product Name: </label><br/>  
        <input type="text" placeholder="Enter product name" name="name" required><br/> 
        <label>Brand Name : </label><br/>  
        <input type="text" placeholder="Enter brand name" name="name" required><br/>   
        <label>Product Price : </label><br/>  
        <input type="text" placeholder="Enter product price" name="price" required><br/> 
        <label>Model: </label><br/>  
        <input type="text" placeholder="Enter product model" name="model" required><br/> 
        <label>Quantity : </label><br/>  
        <input type="text" placeholder="Enter product quantity" name="quantity" required><br/>
        <label>Product Image : </label><br/>
        <input type="file" name="image" (change)="onFileChange($event)" /><br/>
        <button type="submit">Upload image</button>
        <label>Category : </label>
        <select name="category">
            <option *ngFor= "let d of data" value="{{d}}">{{d}}</option><br/>
        </select>
        
        <label>Product Description</label><br/>
        <textarea cols="80" rows="5" value="productDescription"></textarea><br/>
        <button type="submit">Add Product</button><br/>  
        
    </div>   
</form>     

    