<p>{{ productId }}</p>
<div class="mid-tab">
    <div class="col1">
        <div class="portion">
            <h2 style="text-align: center;">{{product.name}}</h2>
            <a id="prev" (click)="prev()" class="prev">&#10094;</a>
            <img id="images" src={{currentImage}}>
            <a id="next" (click)="prev()" class="next">&#10095;</a>
        </div>
    </div>
    <div class="col2">
        <div class="portion1">
            <h2 style="text-align: center;">Product Description</h2>
            <p>
            {{product.description}}</p>
            <h2>Brand :{{product.brandName}}</h2>
            <h2>Price :{{product.price}}</h2>
        </div>
        <button type="submit" (click)="addToCart()">Add To Cart</button>
    </div>
</div>
<!--Hope it's working-->