.mid-tab{
    margin: 10px;
}
.mid-tab:after{
    content: "";
    display: table;
    clear: both;
}

.col1{
    float: left;
    width: 29%;
    margin-right: 5px;
    border: 2px black solid;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.portion{
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.portion img{
    width: 100%;
    height: 300px;
}
.col1:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.small{
    float: left;
    width: 20%;
    padding: 5px;
}

.small img{
    width: 100%;
    height: 100px;
}
.col2{
    float: left;
    width: 70%;
}

.col2 button{
    width: 100%;
    height: 60px;
    outline: none;
    background-color: rgb(18, 236, 218);
    color: black;
    border-radius: 5px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.col2 button:hover{
    box-shadow: 0 8px 16px 0 rgba(215, 248, 24, 0.719);
}

.portion1{
    padding: 10px;
    border: 2px black solid;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.portion1:hover{
    box-shadow: 0 8px 16px 0 rgba(215, 248, 24, 0.719);
}

.portion1 p{
    /*text-align: justify;*/
}
.show-container {
    max-width: 100%;
    margin: 10px;
}

.show-container img{
    width: 100%;
    height: 400px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 40px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 18px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }